html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.autocomplete-wrapper {
  margin: 0.3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  padding-top: 1rem;
  overflow-y: hidden;
}

.remove-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.remove-city-button {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.mixed-chart {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.invisible-filler {
  margin-right: auto;
  visibility: hidden;
}

.settings-bar {
  margin-left: auto;
}


.toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
}

